{% extends 'base.html' %}
{% load static %}


{% block title %}
Thank you! | {{ block.super }}
{% endblock %}

{% block header0 %}
{% endblock %}

{% block content_2 %}
<div style="margin-top: 100px"></div>
<div class="row">
	<div class="col">
		<h3>Thank You!</h3>
		<h3><small>I will contact you as soon as possible, in the mean time, you can follow me on <a href="https://twitter.com/newlifeshoes" target="_blank">Twitter</a> and on <a href="https://instagram.com/newlifeshoes" target="_blank">Instagram</a> to stay to date with my new work. <br>:-)</small></h3>
	</div>
</div>
<div style="margin-top: 100px"></div>


{% endblock %}


