{% extends 'base.html' %}


{% block meta_description %}A database of websites which help you earn real money in exchange of real work. No Online survey sh!t, or buy-my-books scams. This is a list of real deal.{% endblock %}

{% block meta_author %}Ali Khundmiri of NewLifeShoes{% endblock %}

{% block other_meta %}

<meta name="twitter:card" content="summary_large_image">

<meta name="twitter:site" content="Ali Khundmiri of @newlifeshoes">

<meta name="twitter:creator" content="Ali Khundmiri of @newlifeshoes">

<meta property="og:url" content="{{ request.build_absolute_uri }}">

<meta name="twitter:image" content="https://s3.amazonaws.com/side-projects/rs_directory/media/base/reven_sours_social_image.png">

<meta property="og:image" content="https://s3.amazonaws.com/side-projects/rs_directory/media/base/reven_sours_social_image.png">

<meta name="twitter:title" content="A Curated List of Real Online Income Sources!">

<meta property="og:title" content="A Curated List of Real Online Income Sources!">

<meta name="twitter:description" content="Check out the Database of websites which helps you earn money in exchange of real work. No survey sh!t, Just real deal.">

<meta property="og:description" content="Check out the Database of websites which helps you earn money in exchange of real work. No survey sh!t, Just real deal.">

{% endblock %}



{% block head_extras %}
<style type="text/css">
.custom_card{
	background-color: #E4DFDA;
	border: transparent;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.custom_card:hover{
	background-color: #E2D8CE;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);

}

.custom_card_advert{
	background-color: #EDE8EB;
	/*	border: transparent;*/
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.custom_card_advert:hover{
	background-color: #E2D6C9;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);

}
</style>
{% endblock %}


{% block content_1 %}

{% if interviews %}
<section>
	<div class="container">
		<div style="margin-top: 50px"></div>

		<!-- Page Heading -->
		<br>
		<h1 class="my-4">Interview
			<small></small>
		</h1>
		<hr>
		<div class="row">
			<div class="card-columns">
				{% for interview in interviews %}

				<div class="card custom_card">
					<div class="card-body">
						<h4 class="card-title">
							<a href="{% url 'people:interview_detail' id_=interview.id %}">{{interview.title}}</a>
						</h4>
						<p class="card-text">{{interview.work_description}}</p>
						
						{% if interview.location %}
						<p class="card-subtitle mb-2 text-muted">
							<b>Location: </b>{{interview.location}}
						</p>
						{% endif %}
						{% if interview.revenue %}
						<p class="card-subtitle mb-2 text-muted">
							<b>Revenue: </b>{{interview.revenue}}
						</p>
						{% endif %}
<!-- 						{% if interview.started %}
						<p class="card-subtitle mb-2 text-muted">
							<b>Started: </b>{{interview.started}}
						</p>
						{% endif %} -->
						<a href="{% url 'people:interview_detail' id_=interview.id %}" class="card-link">Read More</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="card-columns">
				<!-- <div class="card custom_card">
					<div class="card-body">
						<h4 class="card-title text-center" style="margin-bottom: 0px;">
							<a href="">See All!</a>
						</h4>
					</div>
				</div> -->
				<div class="card custom_card_advert">
					<p style="color: #6D1B06; padding: 5px" class="float-right"><sup>From Maker</sup></p>
					<div class="card-body">
						<h4 class="card-title">
							<a href="">Have a Success story?</a>
						</h4>
						<p class="card-text">Talk to us and get your Social Media success story featured with us!</p>
						<!-- <p class="card-subtitle mb-2 text-muted">
							<b>Revenue: </b>
						</p> -->
						<a href="" class="card-link">Contact Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>
{% endif %}


<section>
	<div class="container">
		<div style="margin-top: 50px"></div>

		<h1 class="my-4">Platforms
			<small></small>
		</h1>
		<hr>
		<div class="row">
			<div class="card-columns">
				{% for platform in all_platforms %}
				{% if forloop.counter == 5 %} <!-- This number is the position of advert -->
				{% for advert in adverts %}
				<div class="card  custom_card_advert">
					<p style="color: #6D1B06; padding: 5px" class="float-right"><sup>SPONSORED</sup></p>
					<div class="card-body">
						<h4 class="card-title" style="margin-bottom: 0px !important;">
							<a href="{% url 'advertisment:advert_redirect' advert.id %}" target="_blank">{{advert.client_name}}</a>
						</h4>
						<p class="card-text">{{advert.client_description}}</p>
					</div>
					{% comment %}
					{% url 'advertisment:advert_redirect' advert.id %}
					<a href="{{advert.website}}" target="_blank"><img class="card-img-top" src="{{advert.image.url}}" alt="{{advert.client_description}}"></a>
					{% endcomment %}
				</div>
				{% endfor %}
				{% endif %}
				<div class="card custom_card">
					{% if platform.image %}
					<img class="card-img-top" style="padding: 10px" src="{{platform.image.url}}" alt="">
					{% endif %}
					<div class="card-body">
						<h4 class="card-title">
							<a href="{{platform.website}}" target="_blank">{{platform.platform_name}}</a>
							{% if platform.side_note %}
							<sup><sup><span class="badge badge-warning">{{platform.side_note}}</span></sup></sup>
							{% endif %}
						</h4>
						<p class="card-text">{{platform.platform_description}}</p>
						{% for source in platform.all_sources.all %}
						{% if source.public_display %}
						<a href="{{source.website}}" class="card-link" target="_blank">{{source.source_name}}</a>
						{% endif %}
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>	
		<!-- /.row -->


	</div>
</section>


<section>
	<div class="container">
		<div style="margin-top: 50px"></div>

		<!-- Page Heading -->
		<br>
		<h1 class="my-4">About this Project!
			<small></small>
		</h1>
		<hr>
		<div class="jumbotron">
			<h1 class="display-4">Reven Sours!</h1>
			<p class="lead">Revenue Source Database.</p>
			<hr class="my-4">

			<p>Reven sours is a website to learn about opportunities to earn money online. I started with a list of websites which help you earn a bit of cash, then I transitioned into talking to people online and posted their interviews here.<br>Now here you can see and learn how people make a living online.</p>
		</div>
	</div>	
</section>



<!-- /.container -->
{% endblock %}

<!-- Pagination -->
	<!-- <ul class="pagination justify-content-center">
		<li class="page-item">
			<a class="page-link" href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
			</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#">1</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#">2</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#">3</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
			</a>
		</li>
	</ul> -->

