{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Reven Sours - Find Services, Websites & Apps on the internet which pays you with real Money $$$. Curated by Ali khundmiri - NewLifeshoes</title>

	<!-- Bootstrap core CSS -->
	<link href="{% static 'base/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{% static 'base/css/3-col-portfolio.css' %}" rel="stylesheet">

	{% block head_extras %}
	{% endblock %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120716072-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-120716072-1');
	</script>

</head>

<body>
	<!-- Navigation -->

	{% include 'navbar.html' %}

	{% block content_1 %}
	{% endblock %}

	<div class="col-lg-9 col-md-9">{% block content_header %}{% endblock %}</div>
	<div class="col-lg-3 col-md-3"></div>

	

	<!-- Page Content -->
	
	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; <a target="_blank" href="https://twitter.com/newlifeshoes">Ali Khundmiri</a> 2018</p>
		</div>
		<!-- /.container -->
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
